@font-face {
  font-family: 'Small Pixel 7';
  src: url('../fonts/small_pixel-7.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/small_pixel-7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  text-align: center;
  overflow-y: scroll;
  background: linear-gradient(71deg, rgba(68, 68, 68, 0.6), rgba(68, 68, 68, 0) 75%),
              linear-gradient(178deg, rgba(21, 126, 222, 0.6), rgba(21, 126, 222, 0) 75%),
              linear-gradient(268deg, rgba(24, 109, 112, 0.6), rgba(24 ,109, 112, 0) 75%);
  color:rgba(10,101,120,255);
  font-family: 'Small Pixel 7';
  position: relative;
}

body {
  margin: 0px;
}

header {
  padding: 30px;
}

.content {
  min-height: 200px;
}

footer {
  padding: 5px 30px 30px;
  background: linear-gradient(90deg, rgb(70, 70, 70) 40%, rgb(120, 120, 120));
  border-top: 5px rgba(10,101,120,255) solid;
}

a {
  text-decoration: none;
}

.banner-menu {
  margin: 0px;
}

.banner-links {
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-links a {
  font-family: 'Small Pixel 7';
  font-size: 28px;
}

.banner-links-text {
  color: rgb(95, 95, 95);
  background: linear-gradient(160deg, lightblue 40%, silver);
  padding: 5px;
  margin: 5px;
  line-height: 1.5em;
  border: 2px black solid;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px gray;
}

.banner-links img {
  box-shadow: 3px 3px 3px 3px gray;
}

.banner-links img:active {
  box-shadow: none;
}

.banner-links-text:link {
  color:rgb(95, 95, 95);
}

.banner-links-text:visited {
  color:rgb(95, 95, 95);
}

.banner-links-text:active {
  box-shadow: none;
}

.banner-links li {
  vertical-align: middle;
  margin: 0 10px 0;
}

.banner-container {
  margin: 0px 20% 10px;
  position: relative;
}

.border-img {
  position: absolute;
  z-index: 2;
}

.corner {
  height: 100px;
  width: auto;
  z-index: 3;
}

.sides {
  width: 25px;
  height: 100%;
}

.top, .bottom {
  height: 25px;
  width: 100%;
}

.bottomleft {
  left: 0px;
  bottom: 0px;
}

.bottomright {
  bottom: 0px;
  right: 0px;
}

.topleft {
  top: 0px;
  left: 0px;
}

.topright {
  top: 0px;
  right: 0px;
}

.leftside {
  left: 0px;
  top: 0px;
}

.rightside {
  right: 0px;
  top: 0px;
}

.top {
  top: 0px;
  left: 0px;
}

.bottom {
  bottom: 0px;
  left: 0px;
}

.banner {
  width: 100%;
  z-index: 1;
}

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.banner-menu li{
  display: inline;
}

.nobull {
  list-style-type: none;
}

.introduction {
  margin: 0% 25% 0%;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-family: 'Small Pixel 7';
  font-size: 26px;
}

.liam .name {
  color: green;
  text-shadow: 2px 2px 2px rgba(10,101,120,255);
}

.jen .name {
  color: purple;
  text-shadow: 2px 2px 2px rgba(10,101,120,255);
}

.matt .name {
  color: orangered;
  text-shadow: 2px 2px 2px rgba(10,101,120,255);
}

.bio-para {
  font-family: 'Small Pixel 7';
  font-size: 22px;
}

.bio-para .bio-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.listgroups {
  position: relative;
  display: inline-block;
}

.listgroups a {
  font-family: 'Small Pixel 7';
  font-size: 28px;
  background: linear-gradient(160deg, lightblue 40%, silver);
  padding: 5px;
  margin: 5px;
  line-height: 1.5em;
  border: 2px black solid;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px gray;
}

.listgroups a:link {
  color: rgb(95, 95, 95);
}

.listgroups a:visited {
  color: rgb(95, 95, 95);
}

.listgroups a:active {
  box-shadow: none;
}

.version .banner-links li a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.version .banner-links li a:link {
  color: white;
}

.version .banner-links li a:visited {
  color:bisque;
}

video {
  height: 100%;
  width: 100%;
}