@font-face {
  font-family: 'Small Pixel 7';
  src: url('../fonts/small_pixel-7.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/small_pixel-7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  text-align: center;
  overflow-y: scroll;
  background: linear-gradient(-90deg, black 20%, rgb(68, 68, 68) 60%, rgb(129, 129, 129));
  color:aliceblue;
  font-family: 'Small Pixel 7';
  position: relative;
  
}

body {
  margin: 0px;
  position: relative;
}

header {
  padding-top: 30px;
}

footer {
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

.banner-menu {
  margin: 0px;
  vertical-align: middle;
}

.banner-links {
  margin: 0;
  padding: 5px;
}

.banner-links a {
  font-family: 'Small Pixel 7';
  font-size: 32px;
}

.banner-links-text {
  padding: 5px;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px gray;
}

.banner-links img {
  box-shadow: 3px 3px 3px 3px gray;
}

.banner-links img:hover {
  box-shadow: none;
}

.banner-links-text:hover {
  box-shadow: none;
  background-color: cornflowerblue;
}

.banner-links li {
  vertical-align: middle;
  margin: 0 10px 0;
}

.banner-container {
  margin: 0px 0 10px;
}

.border-img {
  position: absolute;
  z-index: 2;
}

.corner {
  height: 100px;
  width: auto;
  z-index: 3;
}

.sides {
  width: 25px;
  height: 100%;
}

.top, .bottom {
  height: 25px;
  width: 100%;
}

.bottomleft {
  left: 0px;
  bottom: 0px;
}

.bottomright {
  bottom: 0px;
  right: 0px;
}

.topleft {
  top: 0px;
  left: 0px;
}

.topright {
  top: 0px;
  right: 0px;
}

.leftside {
  left: 0px;
}

.rightside {
  right: 0px;
}

.top {
  top: 0px;
  left: 0px;
}

.bottom {
  bottom: 0px;
  left: 0px;
}

.banner {
  width: 100%;
  z-index: 1;
}

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.banner-menu li{
  display: inline;
}

.nobull {
  list-style-type: none;
}

.introduction {
  margin: 0% 25% 0%;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-family: 'Small Pixel 7';
  font-size: 26px;
}

.liam .name {
  color: green;
  text-shadow: 2px 2px 2px lightgreen;
}

.jen .name {
  color: purple;
  text-shadow: 2px 2px 2px pink;
}

.matt .name {
  color: orangered;
  text-shadow: 2px 2px 2px orange;
}

.bio-para {
  font-family: 'Small Pixel 7';
  font-size: 22px;
}

.bio-para .bio-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.listgroups {
  position: relative;
  display: inline-block;
}

.listgroups a {
  font-family: 'Small Pixel 7';
  font-size: 18px;
  background-color: lightblue;
  padding: 5px;
  margin: 5px;
  line-height: 1.5em;
  border-radius: 8px;
}

.version .banner-links li a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.version .banner-links li a:link {
  color: white;
}

.version .banner-links li a:visited {
  color:bisque;
}