@font-face {
  font-family: 'Small Pixel 7';
  src: url('../fonts/small_pixel-7.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/small_pixel-7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  text-align: center;
  overflow-y: scroll;
  color:gray;
  font-family: 'Small Pixel 7';
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0px;
  background-color: #F6E3C5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4CACBC;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content {
  min-height: 210px;
}

footer {
  background-color: #4CACBC;
  width: 100%;
}

a {
  text-decoration: none;
}

.banner-menu {
  margin: 0px;
}

.banner-links {
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-links a {
  font-family: 'Small Pixel 7';
  font-size: 32px;
}

.banner-links-text {
  padding: 5px;
}

.banner-links-text:link {
  color: green;
}

.banner-links-text:visited {
  color: green;
}

.banner-links-text:hover {
  color: lightgreen
}

.banner-links li {
  vertical-align: middle;
  margin: 0 10px 0;
}

.banner-container {
  margin: 10px 30% 10px;
  position: relative;
  background-color: black;
  padding-bottom: 10px;
}

.border-img {
  position: absolute;
  z-index: 2;
}

.corner {
  height: 100px;
  width: auto;
  z-index: 3;
}

.sides {
  width: 25px;
  height: 100%;
}

.top, .bottom {
  height: 25px;
  width: 100%;
}

.bottomleft {
  left: 0px;
  bottom: 0px;
}

.bottomright {
  bottom: 0px;
  right: 0px;
}

.topleft {
  top: 0px;
  left: 0px;
}

.topright {
  top: 0px;
  right: 0px;
}

.leftside {
  left: 0px;
  top: 0px;
}

.rightside {
  right: 0px;
  top: 0px;
}

.top {
  top: 0px;
  left: 0px;
}

.bottom {
  bottom: 0px;
  left: 0px;
}

.banner {
  width: 100%;
  z-index: 1;
}

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.banner-menu li{
  display: inline;
}

.nobull {
  list-style-type: none;
}

.introduction {
  margin: 0% 25% 0%;
}

.bio {
  display: inline-block;
  margin: 10px 30%;
  text-align: left;
}

.hr-bio {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 8px;
  width: 9%;
  margin: 50px auto;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-family: 'Small Pixel 7';
  font-size: 26px;
}

.liam .name {
  color: green;
  text-shadow: 2px 2px 2px lightgreen;
}

.jen .name {
  color: purple;
  text-shadow: 2px 2px 2px pink;
}

.matt .name {
  color: orangered;
  text-shadow: 2px 2px 2px orange;
}

.bio-para {
  font-family: 'Small Pixel 7';
  font-size: 22px;
}

.bio-para .bio-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.listgroups {
  position: relative;
  display: inline-block;
  margin: 10px auto;
}

.listgroups a {
  font-family: 'Small Pixel 7';
  font-size: 26px;
  padding: 5px;
  margin: 5px;
  line-height: 1.5em;
  border-radius: 8px;
}

.listgroups a:link {
  color: green;
}

.listgroups a:visited {
  color: green;
}

.listgroups a:hover {
  color: lightgreen;
}

.version .banner-links li a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.version .banner-links li a:link {
  color: white;
}

.version .banner-links li a:visited {
  color:bisque;
}

.version .banner-links li a:hover {
  color: gold;
}

video {
  max-height: 100%;
  width: 100%;
}