@font-face {
  font-family: 'Small Pixel 7';
  src: url('../fonts/small_pixel-7.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('../fonts/small_pixel-7.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
  text-align: center;
  overflow-y: scroll;
  background: linear-gradient(217deg, rgba(0,0,255,0.8), rgba(0,0,255,0) 70%),
              linear-gradient(127deg, rgba(255,0,0,0.8), rgba(255,0,0,0) 70%),
              linear-gradient(336deg, rgba(255,255,0,0.8), rgba(255,255,0,0) 70%);
  color:aliceblue;
  font-family: 'Small Pixel 7';
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

.banner-menu {
  margin: 0px;
}

.banner-links {
  margin: 0px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-links a {
  font-family: 'Small Pixel 7';
  font-size: 32px;
}

.banner-links a:link, a:visited {
  color: black;
}

.banner-links a:active {
  color: white;
}

.banner-links-text {
  padding: 5px;
  /*background-color: lightblue;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px gray;*/
}

.banner-links img:active {
  box-shadow: 0 0 5px 10px gray;
}

.banner-links li {
  vertical-align: middle;
  margin: 0 10px 0;
}

.banner-container {
  margin: 0px 0 10px;
  position: relative;
  background-color: black;
}

.border-img {
  position: absolute;
  z-index: 2;
}

.corner {
  height: 100px;
  width: auto;
  z-index: 3;
}

.sides {
  width: 25px;
  height: 100%;
}

.top, .bottom {
  height: 25px;
  width: 100%;
}

.bottomleft {
  left: 0px;
  bottom: 0px;
}

.bottomright {
  bottom: 0px;
  right: 0px;
}

.topleft {
  top: 0px;
  left: 0px;
}

.topright {
  top: 0px;
  right: 0px;
}

.leftside {
  left: -1px;
  top: 0px;
}

.rightside {
  right: 0px;
  top: 0px;
}

.top {
  top: 0px;
  left: 0px;
}

.bottom {
  bottom: 0px;
  left: 0px;
}

.banner {
  width: 100%;
  z-index: 1;
}

.logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.banner-menu li{
  display: inline;
}

.nobull {
  list-style-type: none;
}

.introduction {
  margin: 0% 25% 0%;
}

.profile-title {
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 2px;
  background-color: black;
  background-image: linear-gradient(150deg, green 15%, purple 66%, orangered);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  padding: 5px 15px;
  color: rgba(0,0,0,0);
}

.bio {
  margin: 40px 20% 60px;
  text-align: left;
  color: black;
  display: flex;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 40px 30px 15px 15px;
}

.name {
  font-family: 'Small Pixel 7';
  font-size: 26px;
}

.liam .name {
  color: green;
}

.liam .profile-pic {
  border: 5px solid green;
}

.jen .name {
  color: purple;
}

.jen .profile-pic {
  border: 5px solid purple;
}

.matt .name {
  color: orangered;
}

.matt .profile-pic {
  border: 5px solid orangered;
}

.bio-para {
  font-family: 'Small Pixel 7';
  font-size: 22px;
}

.bio-para .bio-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.listgroups ul {
  /*position: relative;
  display: inline-block;*/
  display: flex;
  justify-content: center;
  gap: 16px;
}

.listgroups a {
  font-family: 'Small Pixel 7';
  font-size: 26px;
  background: linear-gradient(150deg, darkgrey 41%, white);
  padding: 5px;
  margin: 5px;
  line-height: 2em;
  border-radius: 2px;
  box-shadow: 2px 2px 3px 2px black;
}

.listgroups a:link {
  color: black;
}

.listgroups a:visited {
  color: black;
}

.listgroups a:hover {
  color: white;
}

.listgroups a:active {
  box-shadow: 0 0 2px 2px black;
}

.version .banner-links li a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.version .banner-links li a:link {
  color: white;
}

.version .banner-links li a:visited {
  color:bisque;
}

video {
  height: 500px;
  width: auto;
}